body {
    background-color: #fff;
}

#left-container {
    display: flex;
    flex-direction: row;
    max-width: auto;
}

#sol {
    max-width: 50px;
    max-height: 50px;
    padding: 10px;
}

#weather {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    align-self: center;
    border-left: 2px solid;
    padding: 10px;

}

#upper-figure {
    max-width: 100px;
    max-height: auto;

    align-self: flex-end;
    margin-left: 800px;
}

#main-container {
    display: flex;
    flex-direction: column;
}

.container {
    overflow: hidden;

    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 0;

    display: flex;

    align-items: center;
    justify-content: center;
}



#main-figure {
    max-width: 100%;


    max-height: 100%;
    padding: 0 !important;

    display: block;

}

#lower-figure {
    max-width: 100px;
    max-height: auto;

    align-self: flex-start;
    margin: 0 250px;
}

.container-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 25%;

    padding: 20px 70px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #fff;

}


#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

#text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    padding: 10px 0;
}

#next-joke {
    width: fit-content;
    display: flex;
    align-self: center;
    padding: 10px;
    font-size: 13px;
    margin: 20px 0;
    background-color: #deda5e;
    color: black;
    border-radius: 20px;
    border-color: rgb(64, 63, 63) 5px;

    box-shadow: 5px 5px 10px 2px #deda5e;
}


#buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
}

#face-frown {
    border: none;
    background-color: #885797;

}

#face-meh {
    border: none;
    background-color: #885797;

}

#face-smile {
    border: none;
    background-color: #885797;
}